h2 {
    color: grey;
}
.merah {
    color: red;
}
.hijau {
    color: green;
}
.kuning {
    color: yellow;
}
.orange {
    color: orange;
}
.biru {
    color: blue;
}
.ungu {
    color: purple;
}
.pink {
    color: pink;
}
